amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto3==1.7.58
botocore==1.10.58
celery==3.1.26.post2
Django==2.0.7
django-celery==3.2.2
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
docutils==0.14
jmespath==0.9.3
kombu==3.0.37
numpy==1.14.5
pandas==0.23.3
pymongo==3.7.1
python-dateutil==2.7.3
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
