body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-msg {
  color: red;
  font-style: italic;
}

.right-margin {
  margin-right: 1em !important;
}

button:disabled {
  opacity: 0.3;
}

.margin-medium-above {
  margin-top: 1.5em !important;
}

.margin-medium-small {
  margin-top: 1em !important;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.fill {
  flex:1;
}

.vertical-centered {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right {
  margin-left: auto;
}

.larger-text {
  font-size: 1.5rem;
}

.cursive-font {
  font-family: 'Berkshire Swash', Helvetica, sans-serif;
}